
<div id="upHeader" style="width:100%;display:table;height:116px;background:gray">   
	<div id="logoDetail" class="ver-middle">
		<h1 style="text-align:center;color:darGray" >MOVIEBUFF</h3> 
	</div> 
</div>		
<div id="cssmenu">        
    <ul>        
        <li>        
			<a href="/" accesskey="1" title="">Home</a>		
		</li>
    </ul>        
</div>        
 